{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentWrapper"> <!-- Content -->
        <div id="container">   
        	<!-- <a class="scrolllock">scroll</a> WIP idea -->
        	<a href="#home" class="fa fa-arrow-up arrow" aria-hidden="true"></a> 
        	<a href="#about" class="fa fa-arrow-down arrow" aria-hidden="true"></a>
       		<section class="sectionStyle frontPage" id="home"> <!-- Home -->
       			<div class="container tophalf">
       				<div class="nameWrapper">
	       				<span class="firstsection">I'm</span>
	       				<span class="firstName">David</span>
	       				<span class="lastName">Holleman</span>
       				</div>
       			</div>
       			<div class="bottomhalf">
	       			<div class="container containerArticles">
		       			<div class="row rowArticles">
		       				<h2 class="sectionTitle"><span class="titleText">Recently pusblished articles</span></h2>
		       			{% for posts in post %}			
		       				<article class="homePost col-md-4 col-sm-12">
		       				<a class="clickablepost" href="/blog/posts/{{posts.id}}">
		       					<div class="title" style="background: url({{posts.imgurl}}); background-size: cover;"><span class="postTitle">{{posts.title}}</span></div>	
		       				</a>
		       				</article>			
		       			{% endfor %}
		       			</div>
		       		</div>
		       	</div>
       		</section> 	<!-- Home -->	
        </div>
        <div id="container">    
       		<section class="sectionStyle about" id="about"> <!-- About -->	
       			<div class="aboutLeft"></div>
       			<div class="aboutRight">
       			{% for aboutsection in about %}
       				<div class="aboutInner">
       					<h1 class="titleAbout" style="color:black;">{{aboutsection.title}}</h1>
       					<div class="introText" style="color:#909090;"><div class="portrait"></div>{{aboutsection.intro | raw}}</div>
       					<div class="aboutInfo">
       						<ul class="cvInfo">
       							<li>
       								<div class="infoLeft dob">
       									Date of birth:
       								</div>
       								<div class="infoRight">
       									10-12-1991
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft lang">
       									Languages:
       								</div>
       								<div class="infoRight">
       									English, Dutch
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft skills">
       									Skills:
       								</div>
       								<div class="infoRight">
       									Frontend/backend webdevelopment, linux server.
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft hobbies">
       									Hobbies:
       								</div>
       								<div class="infoRight">
       									Photography, Guitar, Technology, History.
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft website">
       									Website:
       								</div>
       								<div class="infoRight">
       									<a href="www.davidholleman.com" style="color:#909090;">davidholleman.com</a>
       								</div>
       							</li>
       						</ul
       					</div>
       					<div class="aboutText" style="color:#909090;">{{aboutsection.maintext | raw}}</div>
       					<div class="aboutButtons">
	       					<a class="buttonContact" href="#contact">Contact me</a> <!-- Contact button -->
	       					<a class="buttonCV" href="#">Download resume(CV)</a> <!-- CV button -->
       					</div>
       				</div>
       			{% endfor %}
       			</div>
       		</section>  <!-- About -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle exp" id="exp">
       			<div class="container">
       				<div class="row">
       					<h1> Skills w/e </h1>
       				</div>
       				<div class="row">
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       					<span class="label label-default">Default</span>
       				</div>
       			</div>
       		</section>  <!-- Experience -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="portfolio">Portfolio</section>  <!-- Portfolio -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="contact">Contact
       		<a class="fa fa-comment" aria-hidden="true" target="_blank" href="{{ path('dh_blog_homepage') }}">test</a>		

       		</section> <!-- Contact --> 
        </div>
    </div>
{% endblock %}