{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentWrapper"> <!-- Content -->
        <div id="container">   
        	<a href="#home" class="fa fa-arrow-up arrow" aria-hidden="true"></a> 
        	<a href="#about" class="fa fa-arrow-down arrow" aria-hidden="true"></a>
       		<section class="sectionStyle frontPage" id="home"> <!-- Home -->
       			<div class="nameWrapper">
       				<span class="firstsection">I am</span>
       				<span class="firstName">David</span>
       				<span class="lastName">Holleman</span>
       			</div>
       			<div class="postsWrapper">
       			{% for posts in post %}			
       				<div class="homePost">
       				<a class="clickablepost" href="/blog/posts/{{posts.id}}">
       					<div class="title" style="background: url({{posts.imgurl}}); background-size: cover;">{{posts.title}}</div>	
       				</a>
       				</div>			
       			{% endfor %}
       			</div>
       		</section> 	<!-- Home -->	
        </div>
        <div id="container">    
       		<section class="sectionStyle about" id="about"> <!-- About -->	
       			<div class="aboutLeft"></div>
       			<div class="aboutRight">
       			{% for aboutsection in about %}
       				<div class="aboutInner">
       					<h1 class="titleAbout" style="color:black;">{{aboutsection.title}}</h1>
       					<div class="introText" style="color:#909090;"><div class="portrait"></div>{{aboutsection.intro}}</div>
       					<div class="aboutInfo">
       						<ul class="cvInfo">
       							<li>
       								<div class="infoLeft">
       									Date of birth:
       								</div>
       								<div class="infoRight">
       									10-12-1991
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft">
       									Languages:
       								</div>
       								<div class="infoRight">
       									English, Dutch
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft">
       									Skills:
       								</div>
       								<div class="infoRight">
       									Frontend/backend webdevelopment, linux server.
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft">
       									Hobbies:
       								</div>
       								<div class="infoRight">
       									Photography, Guitar, Technology, History.
       								</div>
       							</li>
       							<li>
       								<div class="infoLeft">
       									Website:
       								</div>
       								<div class="infoRight">
       									<a href="www.davidholleman.com" style="color:#909090;">davidholleman.com</a>
       								</div>
       							</li>
       						</ul
       					</div>
       					<div class="aboutText" style="color:#909090;">{{aboutsection.maintext}}</div>
       					<div class="aboutButtons">
	       					<a class="buttonContact" href="#">Contact me</a> <!-- Contact button -->
	       					<a class="buttonCV" href="#">Download resume(CV)</a> <!-- CV button -->
       					</div>
       				</div>
       			{% endfor %}
       			</div>
       		</section>  <!-- About -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle exp" id="exp">Experience</section>  <!-- Experience -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="portfolio">Portfolio</section>  <!-- Portfolio -->		
        </div>
        <div id="container">    
       		<section class="sectionStyle portfolio" id="contact">Contact
       		<a class="fa fa-comment" aria-hidden="true" target="_blank" href="{{ path('dh_blog_homepage') }}">test</a>		

       		</section> <!-- Contact --> 
        </div>
    </div>
{% endblock %}